<!DOCTYPE html>
<html lang="pt-br">
<head>
    {{>headers}}
    <title>Lista de Produtos</title>
</head>
<body>
    {{>navbar}}
    <div class="starter-template">
        <table class="justify-content-center">
            <tr>
                <th>Editar</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Estoque</th>
                <th>Unidade de Medida</th>
                <th>Valor</th>
                <th>Deletar</th>
            </tr>
            {{#listaProdutos}}
            <tr>
                <th><a href="/produtos/{{id}}" style="font-size: 150%"><i class="fas fa-edit"></i></a></th>
                <th>{{nome}}</th>
                <th>{{descricao}}</th>
                <th>{{estoque}}</th>
                <th>{{und_medida}}</th>
                <th>{{valor_unitario}}</th>
                <th><a href="/produtos/delete/{{id}}" style="font-size: 150%"><i class="fas fa-trash"></i></a></th>
            </tr>
            {{/listaProdutos}}
        </table>
    </div>
</body>
</html>